:root {
  --firstFontColor: #212121;
  --secondFontColor: #757575;
  --lightFontColor: #ffffff;
  --brandColor: #2196f3;
  --brandHover: #188ce8;
  --secondBgColor: #f5f4fa;
  --darkBgColor: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: var(--firstFontColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  display: block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brandColor);
}

.logo__text {
  color: var(--lightFontColor);
}

.logo__text--dark {
  color: var(--firstFontColor);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--firstFontColor);
}

.menu__link:hover, .menu__link:focus {
  color: var(--brandColor);
}

.menu__link--active {
  color: var(--brandColor);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contacts {
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondFontColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--brandColor);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--lightFontColor);
  background-color: var(--brandColor);
}

.button:hover, .button:focus {
  background-color: var(--brandHover);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  margin-bottom: 50px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding: 6px 22px;
  background-color: #f5f4fa;
}

.filter__btn:hover, .filter__btn:focus, .filter__btn:active {
  background-color: var(--brandColor);
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__item {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  margin: 15px;
}

.product__link {
  text-decoration: none;
  color: var(--firstFontColor);
}

.product__box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.product__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.product__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondFontColor);
}

.address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  display: block;
  text-decoration: none;
  color: var(--secondFontColor);
}

.address__link:hover, .address__link:focus {
  color: var(--brandColor);
}

.address__map {
  color: var(--lightFontColor);
}

.address__map:hover, .address__map:focus {
  color: var(--brandColor);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  color: var(--secondFontColor);
}

.social__link:hover, .social__link:focus {
  background-color: var(--brandColor);
  color: var(--lightFontColor);
}

.social__link--light {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--lightFontColor);
}

.social__icon {
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 94px;
}

.hero {
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--darkBgColor);
  background-image: url(../images/hero-image.jpeg);
  background-repeat: no-repeat;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--lightFontColor);
  margin-bottom: 30px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__filter {
  margin-bottom: 50px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__box {
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secondBgColor);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  line-height: 1.71;
  color: var(--secondFontColor);
}

.works {
  padding-top: 0;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.team {
  font-size: 16px;
  line-height: 1.187;
  background-color: #f5f4fa;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  margin-bottom: 10px;
}

.team__text {
  color: var(--secondFontColor);
  margin-bottom: 16px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--secondFontColor);
}

.clients__link:hover, .clients__link:focus {
  color: var(--brandColor);
  border-color: var(--brandColor);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--darkBgColor);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__box:first-of-type {
  margin-right: 70px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--lightFontColor);
}
/*# sourceMappingURL=main.css.map */