.features {
}

.features__list {
}

.features__item {
}

.features__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  line-height: 1.71;
  color: var(--secondFontColor);
}
