.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--darkBgColor);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__box {
  &:first-of-type {
    margin-right: 70px;
  }

  &:last-of-type {
    margin-left: auto;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--lightFontColor);
}
