.team {
  font-size: 16px;
  line-height: 1.187;
}

.team__title {
}
.team__list {
}
.team__item {
}
.team__img {
}
.team__box {
}

.team__heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
}

.team__text {
  color: var(--secondFontColor);
}
