.logo {
  display: block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brandColor);
}

.logo__text {
  color: var(--lightFontColor);
}

.logo__text--dark {
  color: var(--firstFontColor);
}
