<!-- <section class="section">
  <div class="container">
    <h2 class="section__title section__title--bottom-indent">Постоянные клиенты</h2>
    <ul class="clients">
      <li class="clients__item">
        <a href="#" class="clients__link">
          <svg class="clients__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-clients-1"></use>
          </svg>
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <svg class="clients__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-clients-2"></use>
          </svg>
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <svg class="clients__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-clients-3"></use>
          </svg>
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <svg class="clients__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-clients-4"></use>
          </svg>
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <svg class="clients__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-clients-5"></use>
          </svg>
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <svg class="clients__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-clients-6"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section> -->