<section class="section portfolio">
  <div class="container">
    <h2 class="visually-hidden">Портфолио</h2>
    <ul class="filter portfolio__filter">
      <li class="filter__item">
        <button class="filter__btn" type="button">Все</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" type="button">Веб-сайты</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" type="button">Приложения</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" type="button">Дизайн</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" type="button">Маркетинг</button>
      </li>
    </ul>
    <ul class="product">
      <li class="product__item">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture>
              <img src="./images/product/product-1.jpeg" alt="продукт-1" class="product__img" width="370">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Технокряк</h3>
            <p class="product__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="product__item">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture>
              <img src="./images/product/product-1.jpeg" alt="продукт-1" class="product__img" width="370">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Технокряк</h3>
            <p class="product__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="product__item">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture>
              <img src="./images/product/product-1.jpeg" alt="продукт-1" class="product__img" width="370">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Технокряк</h3>
            <p class="product__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="product__item">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture>
              <img src="./images/product/product-1.jpeg" alt="продукт-1" class="product__img" width="370">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Технокряк</h3>
            <p class="product__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="product__item">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture>
              <img src="./images/product/product-1.jpeg" alt="продукт-1" class="product__img" width="370">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Технокряк</h3>
            <p class="product__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="product__item">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture>
              <img src="./images/product/product-1.jpeg" alt="продукт-1" class="product__img" width="370">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Технокряк</h3>
            <p class="product__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="product__item">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture>
              <img src="./images/product/product-1.jpeg" alt="продукт-1" class="product__img" width="370">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Технокряк</h3>
            <p class="product__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="product__item">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture>
              <img src="./images/product/product-1.jpeg" alt="продукт-1" class="product__img" width="370">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Технокряк</h3>
            <p class="product__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="product__item">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture>
              <img src="./images/product/product-1.jpeg" alt="продукт-1" class="product__img" width="370">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Технокряк</h3>
            <p class="product__text">Веб-сайт</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>