<section class="section portfolio">
  <div class="container">
    <h2 class="visually-hidden">Портфолио</h2>
    <ul class="filter portfolio__filter">
      <li class="filter__item">
        <button class="filter__btn" type="button" data-filter-btn="all">Все</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" type="button" data-filter-btn="webs">Веб-сайты</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" type="button" data-filter-btn="posters">Постеры</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" type="button" data-filter-btn="books">Книги</button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" type="button" data-filter-btn="games">Игры</button>
      </li>
    </ul>
    <ul class="product">
      <li class="product__item webs">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture class="product__img">
              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=450&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=450&height=294 1x, ./images/product/product-1.jpeg?&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=354&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=354&height=294 1x, ./images/product/product-1.jpeg?&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=370&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=370&height=294 1x, ./images/product/product-1.jpeg?&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/jpeg">

              <img src="./images/product/product-1.jpeg" alt="продукт-1">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Технокряк</h3>
            <p class="product__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="product__item posters">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture class="product__img">
              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=450&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=450&height=294 1x, ./images/product/product-1.jpeg?&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=354&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=354&height=294 1x, ./images/product/product-1.jpeg?&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=370&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=370&height=294 1x, ./images/product/product-1.jpeg?&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/jpeg">

              <img src="./images/product/product-1.jpeg" alt="продукт-1">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Постер New Orlean vs Golden Star</h3>
            <p class="product__text">Постер</p>
          </div>
        </a>
      </li>
      <li class="product__item games">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture class="product__img">
              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=450&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=450&height=294 1x, ./images/product/product-1.jpeg?&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=354&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=354&height=294 1x, ./images/product/product-1.jpeg?&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=370&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=370&height=294 1x, ./images/product/product-1.jpeg?&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/jpeg">

              <img src="./images/product/product-1.jpeg" alt="продукт-1">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Cyberpunk</h3>
            <p class="product__text">Игра</p>
          </div>
        </a>
      </li>
      <li class="product__item books">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture class="product__img">
              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=450&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=450&height=294 1x, ./images/product/product-1.jpeg?&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=354&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=354&height=294 1x, ./images/product/product-1.jpeg?&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=370&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=370&height=294 1x, ./images/product/product-1.jpeg?&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/jpeg">

              <img src="./images/product/product-1.jpeg" alt="продукт-1">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Harry Potter</h3>
            <p class="product__text">Книга</p>
          </div>
        </a>
      </li>
      <li class="product__item webs">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture class="product__img">
              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=450&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=450&height=294 1x, ./images/product/product-1.jpeg?&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=354&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=354&height=294 1x, ./images/product/product-1.jpeg?&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=370&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=370&height=294 1x, ./images/product/product-1.jpeg?&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/jpeg">

              <img src="./images/product/product-1.jpeg" alt="продукт-1">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Eldorado</h3>
            <p class="product__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="product__item games">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture class="product__img">
              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=450&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=450&height=294 1x, ./images/product/product-1.jpeg?&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=354&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=354&height=294 1x, ./images/product/product-1.jpeg?&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=370&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=370&height=294 1x, ./images/product/product-1.jpeg?&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/jpeg">

              <img src="./images/product/product-1.jpeg" alt="продукт-1">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Manhunt</h3>
            <p class="product__text">Игра</p>
          </div>
        </a>
      </li>
      <li class="product__item books">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture class="product__img">
              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=450&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=450&height=294 1x, ./images/product/product-1.jpeg?&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=354&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=354&height=294 1x, ./images/product/product-1.jpeg?&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=370&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=370&height=294 1x, ./images/product/product-1.jpeg?&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/jpeg">

              <img src="./images/product/product-1.jpeg" alt="продукт-1">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">War and peace</h3>
            <p class="product__text">Книга</p>
          </div>
        </a>
      </li>
      <li class="product__item posters">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture class="product__img">
              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=450&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=450&height=294 1x, ./images/product/product-1.jpeg?&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=354&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=354&height=294 1x, ./images/product/product-1.jpeg?&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=370&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=370&height=294 1x, ./images/product/product-1.jpeg?&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/jpeg">

              <img src="./images/product/product-1.jpeg" alt="продукт-1">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Scooby-Doo</h3>
            <p class="product__text">Постер</p>
          </div>
        </a>
      </li>
      <li class="product__item posters">
        <a href="#" class="product__link">
          <div class="product__thumb">
            <picture class="product__img">
              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=450&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=450&height=294 1x, ./images/product/product-1.jpeg?&width=900&height=588 2x"
                media="(max-width: 767.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=354&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=354&height=294 1x, ./images/product/product-1.jpeg?&width=708&height=588 2x"
                media="(min-width: 768px) and (max-width: 1199.5px)" type="image/jpeg">

              <source
                srcset="./images/product/product-1.jpeg?as=webp&width=370&height=294 1x, ./images/product/product-1.jpeg?as=webp&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/webp">
              <source
                srcset="./images/product/product-1.jpeg?&width=370&height=294 1x, ./images/product/product-1.jpeg?&width=740&height=588 2x"
                media="(min-width: 1199.5px)" type="image/jpeg">

              <img src="./images/product/product-1.jpeg" alt="продукт-1">
            </picture>
            <p class="product__overlay">Технокряк это современная площадка распространения коронавируса. Компании
              используют эту платформу для цифрового
              шпионажа и атак на защищённые сервера конкурентов.</p>
          </div>
          <div class="product__box">
            <h3 class="product__heading">Macbook</h3>
            <p class="product__text">Постер</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>