<section class="section section--no-top-padding section--mobile-none">
  <div class="container">
    <h2 class="section__title section__title--bottom-indent">Чем мы занимаемся</h2>
    <ul class="works">
      <li class="works__item">
        <img src="./images/works/works-1.jpeg" alt="набирает на клавиатуре" class="works__img" width="370">
        <p class="works__text">Десктопные приложения</p>
      </li>
      <li class="works__item">
        <img src="./images/works/works-2.jpeg" alt="держит телефон перед компьютером" class="works__img" width="370">
        <p class="works__text">Мобильные приложения</p>
      </li>
      <li class="works__item">
        <img src="./images/works/works-3.jpeg" alt="вибирает палитру цветов" class="works__img" width="370">
        <p class="works__text">Дизайнерские решения</p>
      </li>
    </ul>
  </div>
</section>