.logo {
  display: block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.666;

  color: var(--brandColor);

  @media screen and (min-width: $tab) {
    font-size: 24px;
    line-height: 1.17;
  }

  @media screen and (min-width: $desk) {
    font-size: 26px;
    line-height: 1.19;
    animation: logoWayver 5000ms linear alternate infinite;
  }
}

.logo__text {
  color: var(--lightFontColor);
}

.logo__text--dark {
  color: var(--firstFontColor);
}

@keyframes logoWayver {
  0% {
    transform: scale(0.8);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.9);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
