.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #fff;

  transform: translateX(0);
  transition: transform 250ms var(--cubic);
}

.icon-is-hidden {
  display: none;
}

.mobile-menu--is-hidden {
  transform: translateX(100%);
}
