.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--darkBgColor);
}

.footer__container {
  @media screen and (min-width: $tab) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $tab) and (max-width: $deskmax) {
    justify-content: space-around;
  }
}

.footer__box {
  text-align: center;

  @media screen and (max-width: $tabmax) {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: $tab) and (max-width: $deskmax) {
    margin-top: 60px;
  }

  @media screen and (min-width: $desk) {
    text-align: left;

    &:first-of-type {
      margin-right: 70px;
    }

    &:last-of-type {
      margin-left: auto;
    }
  }
}

.footer__logo {
  margin-bottom: 20px;

  @media screen and (max-width: $deskmax) {
    margin: 0 auto 20px auto;
  }
}

.footer__text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--lightFontColor);
}
