.hero {
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--darkBgColor);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mobile@2x.jpg);
  }

  @media screen and (min-width: $mob) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: $tab) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-image.jpeg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-desktop@2x.jpg);
    }
  }

  @media screen and (min-width: $desk) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__container {
  @media screen and (min-width: $tab) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--lightFontColor);
  text-align: center;

  @media screen and (min-width: $tab) {
    font-size: 44px;
    line-height: 1.36;
  }

  @media screen and (min-width: $desk) {
    max-width: 696px;
  }
}

.hero__btn {
  @media screen and (max-width: 767.5px) {
    margin: 0 auto;
  }
}
