.portfolio {
}

.portfolio__filter {
  margin-bottom: 40px;

  @media screen and (min-width: $tab) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $tab) {
    margin-bottom: 50px;
  }
}
