.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desk) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-top-padding {
  padding-top: 0;
}

.section--mobile-none {
  @media screen and (max-width: 1199.5px) {
    display: none;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
}

.section__title--bottom-indent {
  margin-bottom: 50px;
}

.section--bg-dark {
  background-color: #f5f4fa;
}
