:root {
  --firstFontColor: #212121;
  --secondFontColor: #757575;
  --lightFontColor: #ffffff;
  --brandColor: #2196f3;
  --brandHover: #188ce8;

  --secondBgColor: #f5f4fa;
  --darkBgColor: #2f303a;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

$mob: 480px;
$tab: 768px;
$desk: 1200px;
